html {
    background: url("../static/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: gradient 40s ease infinite;
    height: 100vh;
	font-family: sans-serif;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.content h1, h3{
    color: #e17d04;
    text-align: center;
    padding: 2em;
}