<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/charte.css">
    <title>Hello from Flask</title>
</head>
<body>

<div class="navBar">
    <nav>
        <a href="/create">create todo</a>
        <a href="/delete">delete todo</a>
        <a href="/update">update todo</a>
        <a href="/get_all">get_all todo</a>
        <a href="/modify">modify todo</a>
    </nav>
</div>


<!--<form>-->
<!--    <input type="submit" id="create" name="create" value="create task">-->
<!--    <input type="submit" id="delete" name="delete" value="delete task">-->
<!--    <input type="submit" id="update" name="update" value="update task">-->
<!--    <input type="submit" id="modify" name="modify" value="modify task">-->
<!--    <input type="submit" id="get-all" name="get-all" value="get all tasks">-->
<!--</form>-->

</body>
</html>